.vscode/
.idea/
*.swp
*.swo

.env
.env.*
!.env.example
*.pem
*.key

.git/
.gitignore

.github/
.gitlab-ci.yml
.golangci.yaml
.golangci.yml

# Helm / Kubernetes Specifics
charts/
templates/
Chart.yaml
values.yaml
values-*.yaml
helm-*.tgz
.helmignore

*.yaml
*.yml

/bin/
/build/
*.exe
*.test
*.out
vendor/