:host{
  margin-top: 10px;
  display: flex;
  justify-content: center;
  width:100%;
}

.switch-view, .add-item{
  display: flex;
  align-items: center;
  justify-content: center;
  
  lucide-icon{
    height: 30px;
    width: 30px
  }
}

.horizontal-viewport {
  width: calc(100% - 2*55px);
  height: 60px;

  &::-webkit-scrollbar {
    display: none;
  }

  -ms-overflow-style: none;
  scrollbar-width: none;

  overflow-x: auto;
  overflow-y: hidden;
}

.horizontal-item, .switch-view, .add-item {
  width: 50px;
  height: 50px;
  margin: 0 5px;
  border-radius: var(--base-radius);
  background-color: var(--surface-elevated);
  overflow: hidden;
  box-shadow: var(--shadow-elevated);
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
  cursor: pointer;
}

.item-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  user-select: none;

  img {
    -webkit-user-drag: none;
    user-select: none;
  }
}

.horizontal-item:hover,
.selected {
  box-shadow: var(--shadow-hover);
  transform: scale(1.1) translateY(2px);
}
