<app-public>
 <app-language-toggle class="language-toggle"></app-language-toggle>

 <img ngSrc="/ChatON.svg" width="1004" height="338" priority alt="ChatON title" class="hero-img" />

 <p
  class="description"
  i18n="
   App description|A short description of the app displayed on the landing page@@app-description"
 >
  Talk with your friends on your own private chat server, hosted on your machine. No more worries
  about data privacy or third-party services.
 </p>

 <div class="buttons">
  <button class="btn" routerLink="/chat">Register</button>
  <button class="btn" routerLink="/chat">Login</button>
 </div>
</app-public>
